// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

// Your CSS partials
@import "components/index";
@import "pages/index";

.color-white {
    color: white !important;
}

.wrapper {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 90vh;
    background-attachment: fixed;
    background-image: asset-url("bg3.jpg");
    background-size: cover;
    background-position: center;
}

.rectangle-top {
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 0px;
    left: 0px;
    background: #F4F4F4;
}
.triangle-bottomright {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0px;
    left: 0px;
    border-bottom: 200px solid #F4F4F4;
    border-left: 2000px solid transparent;
  }

  .triangle-topleft {
    position: absolute;
    width: 0;
    height: 0;
    top: calc(10vh + 0px);
    left: 0px;
    border-top: 200px solid #F4F4F4;
    border-right: 2000px solid transparent;
  }